In [2]:
from itertools import count
from nltk.util import pr
import pandas as pd
data = pd.read_csv("user_reviews.csv")
print(data.head())

                     App                                  Translated_Review  \
0  10 Best Foods for You  I like eat delicious food. That's I'm cooking ...
1  10 Best Foods for You    This help eating healthy exercise regular basis
2  10 Best Foods for You                                                NaN
3  10 Best Foods for You         Works great especially going grocery store
4  10 Best Foods for You                                       Best idea us

  Sentiment  Sentiment_Polarity  Sentiment_Subjectivity
0  Positive                1.00                0.533333
1  Positive                0.25                0.288462
2       NaN                 NaN                     NaN
3  Positive                0.40                0.875000
4  Positive                1.00                0.300000

In [3]:
jk= pd.read_csv("user_reviews.csv")

In [4]:
jk.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [5]:
jk.tail()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [6]:
jk.sample(10)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
26020,Chictopia,NaN,NaN,NaN,NaN
16012,Block Puzzle,NaN,NaN,NaN,NaN
57108,Google Trips - Travel Planner,NaN,NaN,NaN,NaN
37046,DreamWorks Friends,I hate thare trolls ;(,Negative,-0.800000,0.900000
31555,Czech Public Transport IDOS,Properly designed applications should allow do...,Neutral,0.000000,0.100000
7940,Anime Avatar Creator: Make Your Own Avatar,"It's wonderful! You get make avatar, I wish mu...",Positive,0.608333,0.600000
52994,Gay Sugar Daddy Dating & Hookup – Sudy Gay,cool,Positive,0.350000,0.650000
17761,Brightest LED Flashlight,NaN,NaN,NaN,NaN
51918,Galactic Core Free Wallpaper,It's pretty cool It's great wallpaper I love p...,Positive,0.364394,0.691667
55841,Google Handwriting Input,N ice,Neutral,0.000000,0.000000

In [8]:
jk.columns

Index(['App', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

In [9]:
print(data.isnull().sum())

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [10]:
data = data.dropna()
print(data.isnull().sum())

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64